@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
}

header {
  padding: 20px;
}

main {
  padding: 20px;
}

a {
  display: block;
  margin: 20px 0;
}

.example {
  margin-top: 20px;
}